<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.horse_connection.coaching.equicoaching">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icequicoaching"
        android:label="@string/app_name_EC"
        android:roundIcon="@mipmap/icequicoaching"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".EquiCoachingMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.horse_connection.coaching.equifouleeslibrary.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".EquiCoachingMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EquiCoachingMain" />

            <intent-filter>
                <action android:name="com.horse_connection.coaching.equifouleeslibrary.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>